* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bellota", system-ui;
}



body {
    background-color: #FFF6E8;
}

header {
    background-color: #ffd188;
    height: 100px;
}

.container_cabecalho {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    /* background-color: rgb(226, 140, 69);*/
    margin: 0 auto 0 auto;
    height: 100%;
    align-items: center;

}

.icone_home {
    height: 50px;
    cursor: pointer;
}

.box_busca {
    position: relative;
    width: 60%;
    max-width: 500px;
    margin: 0 10px;
}

.icone_lupa {
    height: 24px;
    position: absolute;
    left: 9px;
    top: 9px;
    fill: #d48a4d;
    cursor: pointer;
}

.logo {
    height: 60px;
}

.campo_busca {
    width: 100%;
    ;
    height: 42px;
    border-radius: 10px;
    border: solid 1px #dec274;
    padding-left: 2.5rem;
    font-size: 1rem;
}

.acessivel {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;

}

.container_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_cadastro h2 {
    font-size: 48px;
    margin-top: 100px;
}



.container_cadastro hr {
    width: 300px;
    height: 4px;
    border: none;
    border-radius: 2px;
    background-color: #ffd188;
    margin-bottom: 100px;
}

.box_cadastro {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
   /* background-color: #ffd188;*/

}

.cadastro_colunal {
   /* background-color: aqua;*/
    width: 45%;
}

.cadastro_coluna2 {
   /* background-color: lightgreen;*/
    width: 45%;
}

.categoria_img {
    display: flex;
    justify-content: space-between;
}

.valor_peso {
    display: flex;
    justify-content: space-between;
}

.cadastro_coluna2,
.peso,
.valor,
.img,
.categoria,
.bolos {
    display: flex;
    flex-direction: column;
}

.box_cadastro label{
    font-size: 20px;
}

.box_cadastro input[type="text"],
.box_cadastro textarea{
    border-radius: 10px;
    border: solid 1px #B3B3B3;
     font-size: 18px;
    padding: 0 5px;
 }




.box_cadastro input[type="text"]{
    height: 40px;
    margin-bottom: 20px;
}

.categoria{
    width: 70%;
}

.box_cadastro textarea{
    resize: none;
    height: 200px;
   
}

.container_cadastro input[type="button"]{
    font-size: 26px;
    margin: 50px 0;
    border-radius: 10px;
    border: none;
    background-color: #ffd188;
    padding: 10px 200px;
     box-shadow: 0 4px 4px 2px #00000025;
     cursor: pointer;
}

.img{
    width: 20%;
}

.img svg{
    width: 30px;
}

input[type="file"]{
    display: none;
}

.img div{
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 1px #B3B3B3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.valor{
    width: 50%;
}

.peso{
    width: 40%;
}


/* MEDIA */
@media screen and ( max-width: 768px) {
    .box_cadastro{
        flex-direction: column;
    }

    .cadastro_colunal,
    .cadastro_coluna2{
        width: 100%;
    }

    .container_cadastro input[type="button"]{
        padding: 10px  100px;
    }
}

